@import './abstract/variables'; 

.btn {
    background: $white;
    color: $black;
    margin-right: 20px;
    padding: 8px 30px;
    font-size: 12px;
    border: 1px solid $black;
    font-weight: bold;
    transition: none !important;
    box-shadow: none !important;
}

.btn:focus, .btn:active {
    background: $white;
    color: $black;
    // border: none !important;
    box-shadow: none !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
    background: $white;
    color: $black;
}