@import './abstract/variables';  

.servercard{
    border: 1px solid $light-grey;
    // margin-left: -25px !important;
    // margin-right: -25px !important;
    border-bottom: none;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    
}

.server-card-header { 
    font-size: 20px;
    margin-bottom: inherit !important;
    font-weight: bold;
}

.servercard:last-child{
    border: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;

}

.card{
    border: none !important;
}

.card-body{
    display: flex;
    height: 300px;
}

.input-group{
    margin-bottom: 15px;
}

.form-control{
    border-radius: 50px;
}

// .input-group>.form-control:not(:last-child){
//     border-radius: 50px;
// }

.custom-control-input:checked~.custom-control-label:before {
    color: $green;
    border-color: $green;
    background-color: $white;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: $green;
    // transform: translateX(.75rem);
}

.custom-switch {
    // padding-left: 8rem;
}

