@import './abstract/variables'; 

.signinmodal-component { 
    // display: none;
    // top: 35vh;
    position: fixed !important;
    text-align: center;
    left: 2vh;
    right: 2vh;
    border: none;
    transform: translateY(55vh);
    -webkit-transition: transform .4s ease-out !important;
    z-index: 99 !important;
    font-weight: bold;
}

.signinmodal-component.open {
    transform: translateY(8vh) !important;
    display: block;
}

.signinwithgoogle{
    background: $white;
    padding: 20px;
    border: 1px solid $black;
    border-radius: 5px;
    display: block;
}

.cancel{
    background: $white;
    padding: 20px;
    margin-top: 75px;
    border: 1px solid $black;
    border-radius: 5px;
    color: $red;
    display: block;
}

.g-signin2{
    font-size: 16px;
    color: $black !important;
    width: 50%;
    margin: 0 auto;
    box-shadow: none !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

span.abcRioButtonContents{
    font-size: 15px !important;
    margin-right: 15px !important;
}

.abcRioButtonContentWrapper{
    font-size: 16px;
    color: $black !important;
    box-shadow: none !important;
    width: 100%;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#not_signed_innlxfi4gmmzl4{
    color: $black !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    font-size: 26px !important;

}

.abcRioButton .abcRioButtonLightBlue{
    box-shadow: none !important;
    width: 100%;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.abcRioButton{
    color: $black;
    box-shadow: none !important;
}