@import './abstract/variables'; 

.signinmodal-component { 
    // display: none;
    // top: 35vh;
    position: fixed !important;
    text-align: center;
    left: 2vh;
    right: 2vh;
    border: none;
    transform: translateY(55vh);
    -webkit-transition: transform .4s ease-out !important;
    z-index: 99 !important;
    font-weight: bold;
}

.signinmodal-component.open {
    transform: translateY(8vh) !important;
    display: block;
}

.signinwithgoogle{
    padding: 20px;
    border: 1px solid $black;
    border-radius: 5px;
    display: block;
}

.cancel{
    padding: 20px;
    margin-top: 75px;
    border: 1px solid $black;
    border-radius: 5px;
    color: $red;
    display: block;
}