// Color Palette
$dark-black: #2A2B29 !default;
$black: #1C1E1E !default;
$white: #FFFFFF !default;
$light-grey: #eaeaea !default;
$medium-grey: #EFEFEF !default;
$grey: #A2A2A2 !default;
$dark-grey: #656664 !default;
$green: #3CA00F !default;
$dark-blue: #2B7DC4 !default;
$light-blue: #2ca9e1 !default;
$red: #EA0A36 !default;

// Typeface
$font-stack:    Helvetica, sans-serif;
$article-titles: Georgia, serif;